<html>

<table class="basisTable" border="1">
<tr>
  <th><br/>x_B</th>
  <th><br/>c_B</th>
</tr>
<!-- insert rows here -->
</table>

<table class="mainTable" border="1">
<tr class="mainTableHeaderRow">
  <!-- foreach variable: <th>x_i+<br/>Zcoef</th> -->
</tr>
<!-- main table rows here -->
</table>

<table class="rightSideTable" border="1">
<tr>
  <th><br/>/b</th>
</tr>
<!-- insert here -->
</table>
<table class="costsTable" border="1">
<tr>
  <th>/c'</th>
  <th>##</th>
  <!-- insert cells here -->
</tr>
<tr>
  <th>/c"</th>
  <th>##</th>
  <!-- insert cells here -->
</tr>
</table>

<table class="rightSideValueTable" border="1">
<tr>
  <td></td> <!-- insert value -->
</tr>
<tr>
  <td></td> <!-- insert value -->
</tr>
</table>

</html>