@font-face {
    font-family: "Computer Modern";
    src: url('fonts/Serif/cmunrm.ttf');
  }
@font-face {
    font-family: "Computer Modern";
    src: url('fonts/Serif/cmunbx.ttf');
    font-weight: bold;
  }
input{
margin:10px;

}
body {
	font-family: "Computer Modern", "Times New Roman", serif;
}

.basisTable, .mainTable, .rightSideTable, .costsTable, .rightSideValueTable {
	border-collapse: collapse;
}

.basisTable, .mainTable, .costsTable {
	border: 1 solid black;
	position: relative;
	float: left;
}

#problemTable td, #problemTable th, #previousTable td, #previousTable th {
	width: 50px;
	height: 30px;
	text-align: center;
}

button {
	position: static;
}

header, footer {
	background-color: #E8E8E8;
    width: 100%;
}

footer {
    bottom: 0;
    position: relative;
    height: 60px;
}

#log {
    height: 250px;
}

#scrollable {
    overflow-y: scroll;
    height: 85%;
}
